/site/code/node_modules
/site/code/public/build
/site/code/public/hot
/site/code/public/storage
/site/code/storage/*.key
/site/code/storage/pail
/site/code/vendor
/site/code/.env
/site/code/.env.backup
/site/code/.env.production
/site/code/.phpactor.json
/site/code/.phpunit.result.cache
/site/code/Homestead.json
/site/code/Homestead.yaml
/site/code/auth.json
/site/code/npm-debug.log
/site/code/yarn-error.log
/site/code/.fleet
/site/code/.idea
/site/code/.vscode
/site/code/.zed
/API/bin/
/API/obj/
/API//packages/
/API/riderModule.iml
/API//_ReSharper.Caches/